<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

<a href="{% url 'logout' %}"><button>Logout</button></a>
<br>
<br>
<a href="{% url 'create' %}"><button>Submit Ticket</button></a>
<h1>New</h1>
<br>
{% if new  %}
    <ul>
        {% for ticket in new %}
            <li>
                <h3><a href="{% url 'details' ticket.id %}">{{ ticket.title }}</a></h3>
                date created: {{ ticket.date_Filed }}
                <br>
                <p>
                Description: {{ ticket.description }}
                </p>
                <br>
                Author: <a href="{% url 'user' ticket.filed_By.id %}">{{ ticket.filed_By }}</a> | Assigned to: Unassigned
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Current Tickets</p>
{% endif %}
<br>
<br>
<h1>In Progress</h1>
<br>
{% if in_progress  %}
    <ul>
        {% for ticket in in_progress %}
            <h3><a href="{% url 'details' ticket.id %}" >{{ ticket.title }}</a></h3>
                date created: {{ ticket.date_Filed }}
                <br>
                <p>
                Description: {{ ticket.description }}
                </p>
                <br>
            Author: <a href="{% url 'user' ticket.filed_By.id %}">{{ ticket.filed_By }}</a>
            | Assigned to:<a href="{% url 'user' ticket.assigned_To.id %}"> {{ticket.assigned_To}}</a>
        {% endfor %}
    </ul>
{% else %}
    <p>No Current Tickets</p>
{% endif %}

<br>
<br>
<h1>Completed</h1>
<br>
{% if done  %}
    <ul>
        {% for ticket in done %}
            <h3><a href="{% url 'details' ticket.id %}" >{{ ticket.title }}</a></h3>
                date created: {{ ticket.date_Filed }}
                <br>
                <p>
                Description: {{ ticket.description }}
                </p>
                <br>
            Author: <a href="{% url 'user' ticket.filed_By.id %}">{{ ticket.filed_By }}</a>
            | Assigned to: <a href="{% url 'user' ticket.assigned_To.id %}">{{ticket.assigned_To}}</a>
            | Completed by: <a href="{% url 'user' ticket.completed_by.id %}">{{ ticket.completed_by }}</a>
        {% endfor %}
    </ul>
{% else %}
    <p>No Current Tickets</p>
{% endif %}

<br>
<br>
<h1>Invalid</h1>
<br>
{% if invalid  %}
    <ul>
        {% for ticket in invalid %}
            <h3><a href="{% url 'details' ticket.id %}" >{{ ticket.title }}</a></h3>
                date created: {{ ticket.date_Filed }}
                <br>
                <p>
                Description: {{ ticket.description }}
                </p>
                <br>
            Author: <a href="{% url 'user' ticket.filed_By.id %}">{{ ticket.filed_By }}</a>
        {% endfor %}
    </ul>
{% else %}
    <p>No Current Tickets</p>
{% endif %}
</body>
</html>